


<div [ngSwitch]="alerta">
  <div *ngSwitchCase="success">success</div>
  <div *ngSwitchCase="info">info</div>
  <div *ngSwitchCase="warning">warning</div>
  <div *ngSwitchDefault>danger</div>
</div>

<button type="button" (click)="alerta='success'" class="btn btn-default">Cambiar</button>

<div [ngSwitch]="alerta">
  <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
    This is a success alert—check it out!
  </div>
  <div *ngSwitchDefault class="alert alert-danger" role="alert">
    This is a danger alert—check it out!
  </div>
  <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
    This is a warning alert—check it out!
  </div>
  <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
    This is a info alert—check it out!
  </div>
</div>
